/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --color-Blue-light: #0288D1;
  --color-Blue-dark: #00BCD4;
  --color-Red-light: #D32F2F;
  --color-Yellow-light: #FBC02D;
  --color-Green-light: #00F260;
  --shadow-dark: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.15); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 35%; } }

body {
  font-family: 'open sans', sans-serif;
  color: var(--color-Grey-dark-2);
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.search {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-Grey-light-2); } }
  .search__box {
    position: absolute;
    top: 3rem;
    left: 2rem;
    line-height: 3rem;
    width: 98%;
    height: 14rem;
    background-color: var(--color-Grey-light-3);
    border-radius: 5px;
    padding: 1rem;
    display: none;
    z-index: 12000; }
  .search__input:focus ~ .search__box {
    animation: MoveBottom 0.3s;
    display: block; }
  .search__input {
    border-radius: 200rem;
    height: 3rem;
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--color-Grey-light-2);
    width: 90%;
    padding: 1.8rem;
    margin-right: -7rem;
    transition: all 0.3s;
    position: relative; }
    .search__input:focus {
      background-color: var(--color-Grey-light-3);
      outline: none;
      width: 100%; }
      @media only screen and (max-width: 31.25em) {
        .search__input:focus {
          background-color: var(--color-Grey-light-2); } }
    .search__input::-webkit-input-placeholder {
      color: var(--color-Grey-light-4);
      margin-left: 3rem; }
  .search__input:focus + .search__button {
    background-color: var(--color-Grey-light-3); }
  .search__button {
    border: none;
    outline: none;
    transform: translate(-5px, 2px);
    background-color: var(--color-Grey-light-2); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-Grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  position: relative; }
  .user-nav > * {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    align-self: stretch; }
  .user-nav > *:hover {
    background-color: var(--color-Grey-light-4);
    cursor: pointer; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-Grey-dark-2); }
  .user-nav__notification {
    background-color: var(--color-primary-light);
    color: var(--color-Grey-light-1);
    width: 1.8rem;
    height: 1.8rem;
    font-size: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 31.25em) {
      .user-nav__notification {
        top: 0; } }
  .user-nav__user-name {
    margin-left: 1.5rem; }
  .user-nav__photo {
    height: 3.75rem;
    border-radius: 50%; }
  .user-nav__user:hover::before {
    content: "";
    width: 70%;
    height: 22rem;
    background-color: var(--color-Grey-light-1);
    top: 7rem;
    left: 10rem;
    position: absolute;
    animation: MoveBottom 0.3s;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8000; }
    @media only screen and (max-width: 75em) {
      .user-nav__user:hover::before {
        left: 10rem; } }
    @media only screen and (max-width: 31.25em) {
      .user-nav__user:hover::before {
        top: 3rem; } }

@keyframes MoveBottom {
  0% {
    transform: translateY(-5rem);
    background-color: transparent; }
  100% {
    transform: translateY(0); } }
  .user-nav__user:hover .user-nav__setting {
    animation: MoveBottom2 0.5s;
    display: block; }
    .user-nav__user:hover .user-nav__setting-link {
      color: var(--color-Grey-dark-3); }

@keyframes MoveBottom2 {
  0% {
    transform: translateY(-5rem); }
  100% {
    transform: translateY(0); } }
  .user-nav__icon-box:hover .user-nav__conversation {
    animation: MoveBottom 0.3s;
    display: block; }
  .user-nav__setting {
    list-style: none;
    top: 7rem;
    left: 10rem;
    position: absolute;
    width: 30rem;
    display: none;
    backface-visibility: hidden;
    z-index: 8000; }
    @media only screen and (max-width: 75em) {
      .user-nav__setting {
        left: 10rem; } }
    @media only screen and (max-width: 31.25em) {
      .user-nav__setting {
        top: 3rem; } }
    .user-nav__setting-link {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-Grey-dark-3);
      margin-left: 1.5rem; }
    .user-nav__setting-list {
      display: flex;
      align-items: center;
      padding: 1rem; }
      .user-nav__setting-list:not(:last-child) {
        margin-bottom: 3px; }
  .user-nav__conversation {
    position: absolute;
    top: 7rem;
    left: -10rem;
    list-style: none;
    width: 30rem;
    background-color: var(--color-Grey-light-1);
    box-shadow: 1rem 2rem 2.5rem rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    display: none;
    z-index: 8000; }
    @media only screen and (max-width: 31.25em) {
      .user-nav__conversation {
        top: 3.5rem;
        width: 26rem;
        left: -8rem; } }
    .user-nav__conversation-photo {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 2rem; }
      @media only screen and (max-width: 75em) {
        .user-nav__conversation-photo {
          width: 3.5rem;
          height: 3.5rem; } }
    .user-nav__conversation-list {
      border-bottom: 1px solid var(--color-Grey-light-4); }
    .user-nav__conversation-link {
      display: flex;
      flex: 0 0 100%;
      align-items: center;
      z-index: 2000;
      padding: 1rem 1.5rem; }
      @media only screen and (max-width: 28.125em) {
        .user-nav__conversation-link {
          padding: 0.5rem; } }
      .user-nav__conversation-link:visited, .user-nav__conversation-link:link {
        text-decoration: none; }
      .user-nav__conversation-link:hover {
        background-image: linear-gradient(to bottom, var(--color-primary), var(--color-primary-dark));
        color: var(--color-Grey-light-1); }
  .user-nav__label {
    list-style-type: none;
    position: absolute;
    top: 7rem;
    left: -10rem;
    width: 36rem;
    z-index: 8000;
    border-radius: 3px;
    background-color: var(--color-Grey-light-1);
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.25);
    display: none; }
    @media only screen and (max-width: 75em) {
      .user-nav__label {
        left: -8rem;
        width: 32rem; } }
    @media only screen and (max-width: 31.25em) {
      .user-nav__label {
        top: 3.5rem; } }
    .user-nav__label-photo {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 2rem; }
      @media only screen and (max-width: 75em) {
        .user-nav__label-photo {
          width: 3.5rem;
          height: 3.5rem; } }
    .user-nav__label-link {
      display: flex;
      flex: 0 0 100%;
      padding: 1.5rem 1.5rem;
      align-items: center;
      text-decoration: none;
      display: flex;
      border-bottom: 1px solid var(--color-Blue-dark); }
      @media only screen and (max-width: 31.25em) {
        .user-nav__label-link {
          padding: 1rem; } }
      @media only screen and (max-width: 28.125em) {
        .user-nav__label-link {
          padding: 0.5rem; } }
      .user-nav__label-link:hover {
        background-image: linear-gradient(to bottom, var(--color-Blue-light), var(--color-Blue-dark));
        color: var(--color-Grey-light-1); }
  .user-nav__icon-label:hover .user-nav__label {
    animation: MoveBottom 0.3s;
    display: block; }
  .user-nav__icon--1 {
    fill: var(--color-Blue-light);
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem; }
  .user-nav__icon--2 {
    fill: var(--color-Red-light);
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem; }
  .user-nav__icon--3 {
    fill: var(--color-Grey-dark-3);
    width: 2rem;
    height: 2rem; }
  .user-nav__label-link:hover .user-nav__icon--1 {
    fill: var(--color-Green-light); }
  .user-nav__conversation-link:hover .user-nav__icon--2 {
    fill: var(--color-Yellow-light); }
  .user-nav__setting-list:hover .user-nav__icon--3 {
    fill: var(--color-primary); }
  .user-nav__setting-list:hover .user-nav__setting-link {
    color: var(--color-primary); }

.sidebar__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .sidebar__ul {
      flex-direction: row;
      margin: 0; } }

.sidebar__list {
  list-style: none; }
  .sidebar__list:not(:last-child) {
    margin-bottom: 5px; }
    @media only screen and (max-width: 56.25em) {
      .sidebar__list:not(:last-child) {
        margin: 0; } }
  @media only screen and (max-width: 56.25em) {
    .sidebar__list {
      flex: 1; } }

.sidebar__link:link::before {
  content: "";
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.2s, width cubic-bezier(0.93, 0, 0.24, 1) 0.4s 0.2s; }

.sidebar__link:hover::before, .sidebar__link--hover:link::before {
  width: 100%;
  transform: scaleY(1); }

.sidebar__link:active::before {
  background-color: var(--color-primary-light); }

.sidebar__link:link, .sidebar__link:visited {
  text-decoration: none;
  color: var(--color-Grey-light-3);
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 2rem;
  position: relative;
  z-index: 1000; }
  @media only screen and (max-width: 56.25em) {
    .sidebar__link:link, .sidebar__link:visited {
      justify-content: center; } }
  @media only screen and (max-width: 46.875em) {
    .sidebar__link:link, .sidebar__link:visited {
      flex-direction: column;
      padding: 1.5rem; } }

.sidebar__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  fill: currentColor;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .sidebar__icon {
      margin: 0; } }
  @media only screen and (max-width: 46.875em) {
    .sidebar__icon {
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 28.125em) {
    .sidebar__icon {
      width: 1.2rem;
      height: 1.2rem; } }

.sidebar__text {
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .sidebar__text {
      font-size: 1.25rem; } }
  @media only screen and (max-width: 28.125em) {
    .sidebar__text {
      font-size: 1rem; } }

.sidebar__legar {
  font-size: 1.2rem;
  color: var(--color-Grey-light-4);
  text-align: center;
  margin-bottom: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .sidebar__legar {
      display: none; } }

.overview__box {
  display: flex; }

.overview__img {
  width: 100%;
  height: 100%; }

.header-overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-Grey-light-3); }
  .header-overview__heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.2rem;
    padding: 1.5rem 2.5rem; }
    @media only screen and (max-width: 31.25em) {
      .header-overview__heading {
        font-size: 1.5rem;
        padding: 0.75rem 1.25rem; } }
  .header-overview__icon-box {
    margin-right: auto;
    display: flex;
    margin-left: 2rem; }
  .header-overview__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary-light); }
  .header-overview__location {
    display: flex; }
    .header-overview__location-icon {
      margin-right: 0.5rem; }
  .header-overview__rating {
    font-size: inherit;
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: var(--color-Grey-light-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    margin-left: 1.5rem;
    align-self: stretch; }
    @media only screen and (max-width: 31.25em) {
      .header-overview__rating {
        padding: 0.75rem 1rem;
        font-size: 0.75rem; } }
    .header-overview__rating-average {
      font-size: 2.2rem;
      font-weight: 300; }
      @media only screen and (max-width: 31.25em) {
        .header-overview__rating-average {
          font-size: 1.5rem; } }

.btn-inline {
  border: none;
  outline: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  background-color: transparent;
  padding-bottom: 0.5rem; }
  .btn-inline span {
    margin-left: 0.5rem;
    transition: margin-left 0.3s; }
  .btn-inline:hover {
    color: var(--color-Grey-dark-3);
    cursor: pointer; }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    animation: zoomInOut 1s infinite; }

@keyframes zoomInOut {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.detail {
  display: flex;
  background-color: var(--color-Grey-light-3);
  color: var(--color-Grey-dark-1);
  padding: 3.5rem;
  font-size: 1.5rem;
  color: var(--color-Grey-dark-2); }
  @media only screen and (max-width: 68.75em) {
    .detail {
      padding: 2rem;
      margin: 1.5rem; } }
  @media only screen and (max-width: 46.875em) {
    .detail {
      flex-wrap: wrap; } }
  .detail__hotel {
    background-color: var(--color-Grey-light-1);
    flex: 0 0 60%;
    padding: 1.5rem;
    margin-right: 3.2rem;
    box-shadow: var(--shadow-light); }
    .detail__hotel-review:not(:last-of-type) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 46.875em) {
      .detail__hotel {
        flex: 0 0 100%; } }
  .detail__comment {
    background-color: darkgoldenrod;
    flex-grow: 1;
    background-color: var(--color-Grey-light-1); }
  .detail__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 2.5rem 3rem;
    margin-top: 2.5rem;
    border-top: 1px solid var(--color-Grey-light-3); }
    @media only screen and (max-width: 31.25em) {
      .detail__list {
        padding: 0.7rem 1.2rem; } }
    @media only screen and (max-width: 28.125em) {
      .detail__list {
        flex-wrap: nowrap;
        flex-direction: column; } }
    .detail__list-item {
      flex: 0 0 50%; }
  .detail__list-item::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 1.5rem;
    -webkit-mask-image: url(../img/chevron-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-right.svg);
    mask-size: cover;
    background-color: var(--color-primary); }

.comment {
  box-sizing: content-box;
  display: flex;
  align-items: center; }
  .comment__text {
    color: var(--color-Grey-dark-3);
    margin-right: auto;
    font-size: 1.2rem; }
  .comment__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-Grey-light-1); }
    .comment__img:not(:last-child) {
      margin-right: -1.5rem; }
    @media only screen and (max-width: 28.125em) {
      .comment__img {
        width: 3rem;
        height: 3rem; } }

.review {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 46.875em) {
    .review {
      margin-top: 2rem; } }
  .review__user {
    background-color: var(--color-Grey-light-1);
    padding: 3rem;
    margin-bottom: 2.5rem;
    box-shadow: var(--shadow-light);
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 28.125em) {
      .review__user {
        padding: 1.5rem; } }
    .review__user::before {
      content: "\201C";
      position: absolute;
      top: -2.4rem;
      left: -1rem;
      line-height: 1;
      font-size: 18rem;
      color: var(--color-Grey-light-3);
      font-family: sans-serif;
      z-index: 1; }
  .review__text {
    margin-bottom: 2rem;
    z-index: 2;
    position: relative; }
  .review__information {
    display: flex;
    align-items: center; }
    .review__information-photo {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%; }
    .review__information-box {
      margin-right: auto;
      margin-left: 1.5rem; }
    .review__information-name {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 400; }
    .review__information-date {
      font-size: 1.1rem;
      color: var(--color-Grey-dark-3); }
    .review__information-rating {
      font-size: 2.2rem;
      font-weight: 400;
      color: var(--color-primary); }

.cta {
  text-align: center;
  overflow: hidden; }
  .cta__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1.5rem 0; }
    @media only screen and (max-width: 31.25em) {
      .cta__heading {
        font-size: 1.5rem; } }
  .cta__btn {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-Grey-light-1);
    text-transform: uppercase;
    border-radius: 200px;
    outline: none;
    border: none;
    padding: 1.5rem 5rem;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary-dark));
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 31.25em) {
      .cta__btn {
        font-size: 1.2rem; } }
    .cta__btn-invisible {
      position: absolute;
      top: -2rem;
      left: 2rem;
      transition: transform 0.1s; }
    .cta__btn-visible {
      transition: transform 0.1s; }
    .cta__btn:hover .cta__btn-visible {
      transform: translateY(3.5rem); }
    .cta__btn:hover .cta__btn-invisible {
      transform: translateY(3.5rem); }

.connect {
  position: fixed;
  top: 20rem;
  left: 2rem;
  z-index: 5000; }
  .connect__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff;
    transition: all 0.2s;
    margin-right: 1.5rem; }
    .connect__icon--1:hover {
      fill: var(--color-Blue-light);
      background-color: #fff;
      border-radius: 50%; }
    .connect__icon--2:hover {
      fill: var(--color-Red-light);
      background-color: #fff;
      border-radius: 50%; }
    .connect__icon--3:hover {
      fill: var(--color-Red-light);
      background-color: #fff;
      border-radius: 50%; }
    .connect__icon--4:hover {
      fill: var(--color-Blue-dark);
      background-color: #fff;
      border-radius: 50%; }
    .connect__icon--5:hover {
      fill: var(--color-Blue-dark);
      background-color: #fff;
      border-radius: 50%; }
  .connect__list {
    list-style: none;
    display: none;
    opacity: 0.6; }
  .connect__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .connect__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; }
  .connect__link:hover .connect__text {
    display: inline;
    animation: MoveRight 0.3s; }
  .connect__text {
    text-transform: uppercase;
    display: none; }
  .connect__button {
    background-color: var(--color-Grey-light-1);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 13rem;
    left: 1rem;
    opacity: 0.8; }
  .connect__checkbox:checked ~ .connect__list {
    animation: MoveBottom 0.3s;
    display: block; }
  .connect__general {
    width: 2.5rem;
    height: 2.5rem; }
  .connect__grow {
    display: none; }
  .connect__checkbox {
    position: absolute;
    z-index: 13000;
    display: none;
    top: -5rem;
    left: 0.5rem; }
  .connect__checkbox:checked + .connect__label .connect__grow {
    display: inline; }
  .connect__checkbox:checked + .connect__label .connect__shrink {
    display: none; }
  .connect__label {
    z-index: 14000;
    position: absolute;
    top: -5.8rem;
    left: 0.4rem; }

@keyframes MoveRight {
  0% {
    transform: translateX(-1.5rem); }
  100% {
    transform: translateX(0); } }

.image {
  display: flex;
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  z-index: 7000; }
  .image__input {
    display: none; }
  .image__input:checked ~ .image__background {
    transform: scale(100); }
  .image__input:checked ~ .image__collect {
    animation: MoveImage 0.4s;
    display: inline; }
  .image__input:checked ~ .image__collect .image__images {
    animation: LightUp 2s 1; }
  .image__label {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-Grey-light-2);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5rem;
    right: 2rem;
    z-index: 8000;
    cursor: pointer;
    transition: all 0.2s; }
    .image__label:hover {
      background-color: var(--color-Blue-light); }
  .image__label:hover .image__icon {
    fill: var(--color-Grey-light-1); }
  .image__background {
    background-image: radial-gradient(var(--color-Red-light), var(--color-Yellow-light));
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: fixed;
    top: 5.2rem;
    right: 2rem;
    transition: transform 0.4s;
    z-index: 7000; }
  .image__collect {
    margin-left: 2.5rem;
    position: relative;
    top: -1.5rem;
    left: 2.5rem;
    z-index: 7500;
    display: none; }
    @media only screen and (max-width: 68.75em) {
      .image__collect {
        left: 6rem;
        top: 0rem;
        margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .image__collect {
        left: 10rem; } }
    @media only screen and (max-width: 46.875em) {
      .image__collect {
        margin: 0;
        left: 4.5rem; } }
  .image__icon {
    width: 2.5rem;
    height: 2.5rem; }
  .image__list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%; }
  .image__item {
    display: flex;
    flex: 0 0 50%; }
    @media only screen and (max-width: 56.25em) {
      .image__item {
        flex: 0 0 90%; } }
    @media only screen and (max-width: 46.875em) {
      .image__item {
        flex: 0 0 100%; } }
  .image__link {
    margin: 1.75rem;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 2rem 3rem 4rem rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: var(--color-Grey-light-1);
    background-color: #000;
    text-align: center;
    position: relative;
    cursor: pointer; }
    .image__link:hover {
      transform: scale(1.1); }
  .image__link:hover .image__images {
    opacity: 1; }
  .image__images {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1rem solid var(--color-Grey-light-1);
    opacity: 0.4; }
  .image__text {
    position: absolute;
    top: 20rem;
    text-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.25);
    left: 7rem;
    text-align: center;
    z-index: 12000;
    display: none;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 0 #000;
    font-size: 4rem;
    font-weight: 400;
    opacity: 0.8; }
    @media only screen and (max-width: 68.75em) {
      .image__text {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .image__text {
        font-size: 6rem;
        top: 20rem;
        left: 10rem; } }
    @media only screen and (max-width: 46.875em) {
      .image__text {
        font-size: 5rem;
        left: 6rem;
        top: 18rem; } }
    @media only screen and (max-width: 31.25em) {
      .image__text {
        font-size: 5rem;
        left: 2rem;
        top: 10rem; } }
    @media only screen and (max-width: 28.125em) {
      .image__text {
        top: 12rem;
        left: 4rem; } }
    @media only screen and (max-width: 25.625em) {
      .image__text {
        font-size: 3.5rem;
        left: 4rem; } }
  .image__link:hover .image__text {
    animation: MoveUp 0.3s;
    display: block; }

@keyframes MoveImage {
  0% {
    transform: translateX(3.5rem); }
  100% {
    transform: translateX(0);
    display: block; } }

@keyframes MoveUp {
  0% {
    transform: translateY(8rem); }
  100% {
    transform: translateY(0); } }

@keyframes LightUp {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.container {
  max-width: 120rem;
  background-color: var(--color-Grey-light-1);
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  border-radius: 0.3rem;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }
  @media only screen and (max-width: 68.75em) {
    .container {
      max-width: 220rem; } }

.header {
  background-color: var(--color-Grey-light-1);
  height: 7rem;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }
